<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent" version="0.1" class="ntorrent.NtorrentApplication">
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="locale" path="locale/" type="resources"/>
		<library type="resources" path="icons/" id="icons">
			<export prefix="*"/>
		</library>
	</runtime>
	<extension-point id="ConnectionProfileExtension" />	
	<extension-point id="SettingsExtension" />
	<extension plugin-id="ntorrent" point-id="SettingsExtension" id="SettingsExtension" />
</plugin>
