<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent.trayicon" version="0.1" class="ntorrent.trayicon.TrayIconHandler">
	<requires>
		<import plugin-id="ntorrent.jpf" />
	</requires>
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="ntorrent.jpf" point-id="HandledPlugin" id="ntorrent.trayicon">
		<parameter id="java-spec" value="1.6" />
	</extension>
</plugin>