<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent" version="0.1" class="ntorrent.Main">
	<requires>
		<import plugin-id="redstone.xmlrpc" />
		<import plugin-id="ntorrent.io.xmlrpc" />
		<import plugin-id="ntorrent.locale" />
		<import plugin-id="ntorrent.data" />
		<import plugin-id="ntorrent.profile" />
		<import plugin-id="ntorrent.jpf" />
		<import plugin-id="ntorrent.tools" />
		<import plugin-id="ntorrent.session" />
		<import plugin-id="ntorrent.settings" />
	</requires>
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="locale" path="locale/" type="resources"/>
		<library type="resources" path="icons/" id="icons">
			<export prefix="*"/>
		</library>
	</runtime>
</plugin>
