<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent.torrenttable.sorter" version="0.1" class="ntorrent.torrenttable.sorter.TorrentTableSorter">
	<requires>
		<import plugin-id="ntorrent.jpf" />
		<import plugin-id="ntorrent.torrenttable" />
	</requires>
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="icons" path="icons/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="ntorrent.jpf" point-id="HandledPlugin" id="ntorrent.torrenttable.sorter">
		<parameter id="java-spec" value="1.6" />
	</extension>
	<extension plugin-id="ntorrent.torrenttable" point-id="TorrentTableSorter" id="ntorrent.torrenttable.sorter.TorrentTableSorter" />
</plugin>
