<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent.torrenttable.sorter" version="0.1" class="ntorrent.torrenttable.sorter.TorrentTableSorter">
	<requires>
		<import plugin-id="ntorrent" />
	</requires>
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="icons" path="icons/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="ntorrent" point-id="SessionExtension" id="TorrentTableExtension" />
</plugin>
