<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ntorrent.viewmenu" version="0.1">
	<requires>
		<import plugin-id="ntorrent.locale" />
	</requires>
	<runtime>
		<library id="src" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="locale" path="locale/" type="resources" />
	</runtime>
</plugin>
